.place__image {
  margin: 32px 0 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .place__image {
    grid-row: 2/4;
    grid-column: 1/2;
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__image {
    margin-top: 0;
  }
}
