.lead__coption {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: left;
  color: white;
  margin-left: 16px;
  display: block;
  margin-top: 8px;
  font-family: inherit;
}

@media screen and (min-width: 768px) {
  .lead__coption {
    margin-left: 24px;
    font-size: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__coption {
    width: 928px;
    margin-left: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__coption {
    width: 984px;
    margin: 6px auto;
  }
}
